customerDetailsWsdl.wsdl.xml

<?xml version="1.0" encoding="UTF-8" standalone="no"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="bank" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="Bank" targetNamespace="Bank">
  <wsdl:types>
    <xs:schema xmlns:tns="bank" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="bank">

    <xs:element name="CustomerDetailsRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="firstName" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="CustomerDetailsResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Customer" type="tns:Customer"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="BalanceRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="firstName" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="BalanceResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Balance" type="xs:long"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="DepositRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="firstName" type="xs:string"/>
                <xs:element name="amount" type="xs:long"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="DepositResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Balance" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="WithdrawRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="firstName" type="xs:string"/>
                <xs:element name="amount" type="xs:long"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="WithdrawResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Balance" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>



    <xs:complexType name="Customer">
        <xs:sequence>
            <xs:element name="id" type="xs:int"/>
            <xs:element name="firstName" type="xs:string"/>
            <xs:element name="lastName" type="xs:string"/>
            <xs:element name="phoneNumber" type="xs:string"/>
            <xs:element name="address" type="xs:string"/>
            <xs:element name="account" type="tns:Account"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Account">
        <xs:sequence>
            <xs:element name="id" type="xs:long"/>
            <xs:element name="balance" type="xs:long"/>
        </xs:sequence>
    </xs:complexType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="BalanceRequest">
    <wsdl:part element="sch:BalanceRequest" name="BalanceRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="BalanceResponse">
    <wsdl:part element="sch:BalanceResponse" name="BalanceResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="WithdrawResponse">
    <wsdl:part element="sch:WithdrawResponse" name="WithdrawResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="WithdrawRequest">
    <wsdl:part element="sch:WithdrawRequest" name="WithdrawRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="CustomerDetailsRequest">
    <wsdl:part element="sch:CustomerDetailsRequest" name="CustomerDetailsRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="CustomerDetailsResponse">
    <wsdl:part element="sch:CustomerDetailsResponse" name="CustomerDetailsResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="DepositResponse">
    <wsdl:part element="sch:DepositResponse" name="DepositResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="DepositRequest">
    <wsdl:part element="sch:DepositRequest" name="DepositRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="CustomerDetailsPort">
    <wsdl:operation name="Balance">
      <wsdl:input message="tns:BalanceRequest" name="BalanceRequest">
    </wsdl:input>
      <wsdl:output message="tns:BalanceResponse" name="BalanceResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Withdraw">
      <wsdl:input message="tns:WithdrawRequest" name="WithdrawRequest">
    </wsdl:input>
      <wsdl:output message="tns:WithdrawResponse" name="WithdrawResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CustomerDetails">
      <wsdl:input message="tns:CustomerDetailsRequest" name="CustomerDetailsRequest">
    </wsdl:input>
      <wsdl:output message="tns:CustomerDetailsResponse" name="CustomerDetailsResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Deposit">
      <wsdl:input message="tns:DepositRequest" name="DepositRequest">
    </wsdl:input>
      <wsdl:output message="tns:DepositResponse" name="DepositResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CustomerDetailsPortSoap11" type="tns:CustomerDetailsPort">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="Balance">
      <soap:operation soapAction=""/>
      <wsdl:input name="BalanceRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="BalanceResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Withdraw">
      <soap:operation soapAction=""/>
      <wsdl:input name="WithdrawRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="WithdrawResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CustomerDetails">
      <soap:operation soapAction=""/>
      <wsdl:input name="CustomerDetailsRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="CustomerDetailsResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Deposit">
      <soap:operation soapAction=""/>
      <wsdl:input name="DepositRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="DepositResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CustomerDetailsPortService">
    <wsdl:port binding="tns:CustomerDetailsPortSoap11" name="CustomerDetailsPortSoap11">
      <soap:address location="http://localhost:8085/service/customer-details"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>